body {
	font-family: 'Oswald', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: white;
}

.center {
	text-align: center;
}


/* ---------
TITLE
-----------*/

h1.headers {
	margin-top: 30px;
	letter-spacing: 1px;
}

h5.headers {
	margin-bottom: 5px;
}

.sub-headers {
	width: 55%;
	margin: 0 auto 30px;
}

.divider {
	margin: 5px auto;
	border: none;
	height: 1px;
	background-color: rgba(0,0,0,0.3);
	width: 60%;
}

.divider:last-of-type {
	width: 40%;
	margin-top: 8px;
	margin-bottom: 20px;
}

#graphic-container {
	margin-bottom: 40px;
}

#top ul.center {
	margin-bottom: 0;
}


/* ---------
NAVBAR 
-----------*/
#nav {
	width: 430px;
	margin: 20px auto 10px;
	padding: 0;
}

#nav ul {
	text-align: center;
}

#nav li {
	display: inline-block;
}

#nav a {
	color: black;
	background-color: rgba(181, 217, 127, 1);
	text-decoration: none;
}

#nav .active {
	background-color: rgba(148, 189, 85, 1);
}


/* ---------------
CONTENT (general)
-----------------*/

div.container.ng-scope {
	margin: 0;
	padding: 0;
	width: 100%;
}


/* ---------
QUICK FACTS
-----------*/

#quick-facts {
	margin-top: 20px;
}


/* ---------
POL LIST
-----------*/



/* ---------
ABOUT
-----------*/






