body {
	font-family: 'Oswald', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: rgba(190,223,242, 1);
}

.center {
	text-align: center;
}


/* ---------
TITLE
-----------*/

h1.headers {
	margin-top: 50px;
	letter-spacing: 1px;
}

h5.headers {
	margin-bottom: 5px;
}

.sub-headers {
	width: 55%;
	margin: 0 auto 30px;
}

.divider {
	margin: 5px auto;
	border: none;
	height: 1px;
	background-color: rgba(0,0,0,0.3);
	width: 60%;
}

.divider:last-of-type {
	width: 40%;
	margin-top: 8px;
	margin-bottom: 20px;
}

#graphic-container {
	margin-bottom: 40px;
}

#top ul.center {
	margin-bottom: 0;
}


/* ---------
QUICK FACTS
-----------*/

#quick-facts {
	margin-top: 50px;
}


/* ---------
NAVBAR 
-----------*/
#nav {
	width: 250px;
	margin: 0 auto 50px;
}

#nav ul {
	text-align: center;
}

#nav li {
	display: inline-block;
}

#nav a {
	color: black;
	padding: 10px 15px;
	text-decoration: none;
}

#nav a:hover:not(.active) {
	background-color: rgba(20,20,20,0.1);
}

#nav .active {
	color: white;
	background-color: black;
}