<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Congressional Literacy</title>

	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/skeleton.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<h1>Hello!</h1>
			<h3>{{ name }}</h3>
			{% for pol in pols|sort(attribute='index_composite', reverse=True) %}
				{% if pol.index_flesch > 3 %}
				<ul>
					<li>{{ pol.fullname }} ({{ pol.party }}/{{ pol.state }}) // {{ pol.index_composite|round(2) }}</li>
				</ul>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</body>
</html>